.calendar {
    display: flex;
    justify-content: center;
    & iframe {
        border: 2px solid cornflowerblue;
        border-radius: 5px;
        padding: 1rem 2rem;
        background: #fff;
    }
}